body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.Tussentitel{
    color: #007bff;
}
.naar-rechts{
    margin-left: 20px !important;
}
.h1{
    margin-bottom: 5px;
    color: #0056b3 !important;
}
nav a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
nav ul{
    list-style-type: none;
}
.border{
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}
.container{
    margin-left: 10px !important;
}
.mijn-carousel img {
    width: 100%;
}
.img-custom {
    height: 300px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}